<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state_id, state in states.items() %}
                {% set id = state_id.split(".")[1] %}
                <LI> {{ id }}: <B>{{ state.name }}</B></LI>
                    <UL>
                        {%- set sorted_cities = state.cities | sort(attribute='name') %}
                        {% for city in sorted_cities %}
                        <LI> {{ id }}: <B>{{ city.name }}</B></LI>
                        {% endfor %}
                    </UL>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
